{{#if success_message }}
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ success_message }}
  </div>
  {{> rfi-form/completion-analytics }}
{{/if}}
{{#if error_message }}
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ error_message }}
  </div>
{{/if}}

<form method="post" action="{{ form_endpoint }}" class="asu-rfi-form">
  <input type="hidden" name="degreeLevel" value="{{ degreeLevel }}">
  <input type="hidden" name="testmode" value="{{ testmode }}">
  <input type="hidden" name="formUrl" value="{{ redirect_back_url }}">
  <input type="hidden" name="source_id" value="{{ source_id }}">
  <div class='honey'><input type="text" name="email"></div>

  <div class="form-group required has-feedback">
    <label class="control-label" for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" value="{{ first_name }}" placeholder="First Name" maxlength="40" required aria-required="true">
  </div>
  <div class="form-group required has-feedback">
    <label class="control-label" for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ last_name }}" placeholder="Last Name" maxlength="50" required aria-required="true">
  </div>
  <div class="form-group required has-feedback">
    <label class="control-label" for="emailAddress">Email</label>
    <input type="email" class="form-control" id="emailAddress" name="emailAddress" value="{{ email }}" placeholder="Email@example.com" maxlength="50" required aria-required="true">
  </div>
  <div class="form-group required has-feedback">
    <label class="control-label" for="phoneNumber">Phone</label>
    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" value="{{ phoneNumber }}" placeholder='(123) 456-7890' maxlength="30" required aria-required="true">
  </div>
  {{#if_cond degreeLevel '==' 'ugrad'}}
  <div class="form-group required has-feedback">
    <label class="control-label" for="StudentType">I will be a future</label>
    <select name="StudentType" id="StudentType" class="form-control" required aria-required="true">
      <option value="" selected="selected">-</option>
      {{#each student_types }}
        <option value="{{ value }}">{{ label }}</option>
      {{/each}}
    </select>
  </div>
  {{/if_cond}}

  {{#if college_program_code }}
    <input type="hidden" name="collegeOfInterest" value="{{ college_program_code }}">
  {{/if}}

  {{#if major_code }}
    <input type="hidden" name="poiCode" value="{{ major_code }}">
  {{/if}}
  {{#if student_type }}
    <input type="hidden" name="StudentType" value="{{ student_type }}">
  {{/if}}

  {{#if major_codes }}
    <div class="form-group required has-feedback">
      <label class="control-label" for="poiCode">{{#if_cond degreeLevel '==' 'ugrad'}}Major{{else}}My program of interest{{/if_cond}}</label>
      <select name="poiCode" id="poiCode" class="form-control" required aria-required="true">
        <option value="" selected="selected">-</option>
        {{#each major_codes }}
          <option value="{{ value }}" data-program-type="{{type}}">{{ label }}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  {{#if_cond degreeLevel '==' 'grad'}} {{! On grad forms, move the StudentType field after POICode because StudentType will be auto-selected }}
    {{#unless student_type }} {{! If shortcode hasn't pre-selected the studentType, render dropdown }}
      <div class="form-group required has-feedback">
        <label class="control-label" for="StudentType">I will be a future</label>
        <select name="StudentType" id="StudentType" class="form-control" required aria-required="true">
          <option value="" selected="selected">-</option>
          {{#each student_types }}
            <option value="{{ value }}">{{ label }}</option>
          {{/each}}
        </select>
      </div>
    {{/unless}}
  {{/if_cond}}

  {{#if enrollment_terms }}
    <div class="form-group required has-feedback">
      <label class="control-label" for="projectedEnrollment">My anticipated start date</label>
      <select name="projectedEnrollment" id="projectedEnrollment" class="form-control" required aria-required="true">
        <option value="" selected="selected">-</option>
        {{#each enrollment_terms }}
          <option value="{{ value }}">{{ label }}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}

  <div class="form-group has-feedback">
    <label class="control-label" for="questions">Question?</label>
    <textarea type="text" class="form-control" id="questions" name="questions" maxlength="500" rows="3"></textarea>
  </div>

  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn-default" aria-label="Submit Request">
  </div>
</form>
{{> rfi-form/form-javascript }}
